{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{super()}}
<link type="image/x-icon" href="/static/favicon.ico" rel="shortcut icon" />
{% endblock head %}

{% block title %}FireCustomEvent API Client{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>FireCustomEvent API Client</h1>
    <p>Use this app to make FireCustomEvent API Calls on your behalf.</p>
  </div>

  <div class="alert alert-danger">
    <p><strong>Warning! Do not use this app unless prompted by a Scalr instructor during a training session!</strong></p>
    <p>
      API credentials are not protected and are visible in the clear when you access this application.
    </p>
  </div>

  {% if code %}
  <div class="container-fluid">
    <div class="row">
      <h2>API Call Results</h2>
      <h3>Status Code</h3>
      <pre>{{ code }}</pre>
      <h3>Response Body</h3>
      <pre>{{ body }}</pre>
    </div>
  </div>
  {% endif %}

  <h2>Make API Call</h2>
  <div class="container-fluid">
    <div class="row">
      <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.api_key) }}
        {{ wtf.form_field(form.api_secret) }}
        {{ wtf.form_field(form.environment_id) }}
        {{ wtf.form_field(form.server_id) }}
        {{ wtf.form_field(form.event_name) }}

        <div class="form-group">
          <button type="submit" class="btn btn-default">Make API Call</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
